%h1=@post.title
%p
    %span Posté par
    %span=@user.username 
    %span le
    %span=@post.created_at.strftime("%Y-%m-%d")
    %span à
    %span=@post.created_at.strftime("%H:%M:%S")
%p=@post.content
<a href="#{posts_path}" class="= btn btn-primary">Revenir aux articles</a> 
=link_to "Editer", edit_post_path, :class => "btn"
<a href="#{post_path(@post.id)}" data-method="DELETE" data-confirm="Etes vous sûr de vouloir suppimer cette article ?" class="= btn btn-danger">Suppimer</a> 


%hr
    - if current_user
        .well
            %h3 Ajouter un commentaire :
            =form_for @comment = Comment.new, url:[@post,@comment] do |f|
                =f.text_area :content, :class => "form-control", :placeholder => 'Entrez votre commentaire ici...'
                =f.submit :class => "btn btn-primary"
%hr
    - @comm.each do |comm|
        %p=comm.id
        %p=comm.content

    